{%- capture class -%}
    sf-logo
    {% if header_settings.logo %} has-logo-img {% endif %}
    {{ box_size }} {{ justify | default: 'justify-center' }}
{%- endcapture -%}

<div
  class="{{ class | strip_newlines }} px-4"
>
    {% if header_settings.logo != blank %}
        <a href="/" class="block py-2.5 logo-img relative">
            {% comment %}
            {% if header_settings.logo_light != blank %}
                {% render 'responsive-image', image_class: 'inline-block', image: header_settings.logo_light, wrapper_class: 'sf-logo-light' %}
            {% endif %}
            {% endcomment %}
            {% if header_settings.logo_transparent != blank %}
                {% assign logo_transparent = header_settings.logo_transparent %}
            {% else %}
                {% assign logo_transparent = header_settings.logo %}
            {% endif %}
            {% render 'responsive-image', image_class: 'inline-block', image: header_settings.logo, wrapper_class: 'sf-logo-default' %}
            {% render 'responsive-image', image_class: 'inline-block', image: logo_transparent, wrapper_class: 'sf-logo-transparent' %}
        </a>
    {% else %}
        <a href="/" class="block text-center">
            <strong>{{ header_settings.logo_text }}</strong>
        </a>
    {% endif %}
</div>
