<div class="page-header">
  <h1 class="page-header__title">{{ title }}</h1>
  <div class="page-header__breadcrumb mt-2 md:mt-6">
    {% render 'breadcrumb', container: 'container', justify: 'center' %}
  </div>
</div>
