{%- assign st = settings -%}
{% assign variant = product.selected_or_first_available_variant %}

{% if card_style == nil or card_style == blank %}
  {%- assign card_style = st.pcard_layout -%}
{% endif %}

{% if image_ratio == nil or image_ratio == blank %}
  {%- assign image_ratio = st.pcard_image_ratio | default: '1/1' -%}
{% endif %}

{%- if image_ratio == 'original' -%}
  {%- assign image_ratio = product.featured_image.aspect_ratio | default: '1/1' -%}
{%- endif -%}

{% if show_vendor == nil %}
  {% assign show_vendor = st.show_vendor %}
{% endif %}

{%- assign alignment = st.pcard_alignment -%}

{% if uppercase_prd_name == nil %}
  {% assign uppercase_prd_name = st.uppercase_prd_name %}
{% endif %}

{% assign on_sale = false %}
{% assign sold_out = true %}
{% assign discount = '' %}
{% if variant.available %}
  {% assign sold_out = false %}
{% endif %}
{%- assign compare_at_price = variant.compare_at_price -%}
{%- assign price = variant.price -%}

{% for variant in product.variants %}
  {% if variant.inventory_management == 'shopify' and variant.inventory_policy == 'continue' and variant.inventory_quantity == 0 %}
    {% assign sold_out = false %}
    {% break %}
  {% endif %}
{% endfor %}

{% if compare_at_price > price %}
  {% assign on_sale = true %}
  {% assign discount = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price %}
{% endif %}

{% assign on_sale_badge = settings.on_sale_badge %}
{% assign show_on_sale_badge = false %}
{% if on_sale_badge != 'hide' and on_sale %}
  {% assign show_on_sale_badge = true %}

{% endif %}

{%- capture form_id -%}product-card-form-{{product.id}}__{{ "now" | date: "%L" }}{%- endcapture -%}
{% if column_wrapper %}<div class="sf-column">{% endif %}
{%- if card_style == '1' -%}
  {% render 'product-card-1', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, st: st, image_ratio: image_ratio, show_vendor: show_vendor,
  alignment: alignment, uppercase_prd_name: uppercase_prd_name, sold_out: sold_out, on_sale: on_sale, discount: discount, on_sale_badge: on_sale_badge, show_on_sale_badge: show_on_sale_badge,
  variant: variant, st: st
  %}
{%- endif -%}
{%- if card_style == '2' -%}
  {% render 'product-card-2', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, st: st, image_ratio: image_ratio, show_vendor: show_vendor,
  alignment: alignment, uppercase_prd_name: uppercase_prd_name, sold_out: sold_out, on_sale: on_sale, discount: discount, on_sale_badge: on_sale_badge, show_on_sale_badge: show_on_sale_badge,
  variant: variant, st: st %}
{%- endif -%}

{%- if card_style == '3' -%}
  {% render 'product-card-3', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, st: st, image_ratio: image_ratio, show_vendor: show_vendor,
  alignment: alignment, uppercase_prd_name: uppercase_prd_name, sold_out: sold_out, on_sale: on_sale, discount: discount, on_sale_badge: on_sale_badge, show_on_sale_badge: show_on_sale_badge,
  variant: variant, st: st %}
{%- endif -%}
{%- if card_style == '4' -%}
  {% render 'product-card-4', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, st: st, image_ratio: image_ratio, show_vendor: show_vendor,
  alignment: alignment, uppercase_prd_name: uppercase_prd_name, sold_out: sold_out, on_sale: on_sale, discount: discount, on_sale_badge: on_sale_badge, show_on_sale_badge: show_on_sale_badge,
  variant: variant, st: st %}
{%- endif -%}
{%- if card_style == '5' -%}
  {% render 'product-card-5', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, st: st, image_ratio: image_ratio, show_vendor: show_vendor,
  alignment: alignment, uppercase_prd_name: uppercase_prd_name, sold_out: sold_out, on_sale: on_sale, discount: discount, on_sale_badge: on_sale_badge, show_on_sale_badge: show_on_sale_badge,
  variant: variant, st: st %}
{%- endif -%}
{% if column_wrapper %}  {% render 'banana-stand-product-list-container', product: product %}
</div>{% endif %}

