<button id="scroll-to-top-button" class="sf__btn sf__btn-primary rounded-full fixed z-50 bottom-[86px] right-4 opacity-0 transition-opacity" style="padding: 12px; border-radius: 100%;">
    {% render 'icon', name: 'arrow-up', size: 'medium' %}
</button>
