{% if section.settings.show_product_images_gallery %}
    <section class="sf-product__section">
        <div class="grid gap-x-2.5 grid-cols-{{ section.settings.images_count }}">
            {% for image in product.images %}
                {% if forloop.index0 < section.settings.images_count %}
                    {% render 'responsive-image', image: image %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}

{% schema %}
    {
        "name": "Product images gallery",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_product_images_gallery",
                "label": "Show product images gallery",
                "default": false
            },
            {
                "type": "range",
                "id": "images_count",
                "min": 2,
                "max": 6,
                "step": 1,
                "label": "Number of images to show",
                "default": 3
            }
        ]
    }
{% endschema %}
