<div class="sf__page-about">
  <div class="text-center sf__page-header section__header">
    <h1 class="section__heading">{{ page.title }}</h1>
    {% render 'breadcrumb', justify: 'center' %}
  </div>
  {% section 'custom-content' %}
  {% section 'icon-box' %}
</div>
